body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
.header-logo img {
    width: 100px;
}
.header-item {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: end;
    width: 100%;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.header ul li:hover {
    color:rgb(96, 252, 82);
}
.header {
    display: flex;
    align-items: center;
    height: 70px;
}

.header img {
    height: 60px;
}

.icons {
    display: flex;
    border: solid 1px green;
    color: green;
    border-radius: 50px;
    height: 30px;
    align-items: center;
    padding: 0 10px;
    gap: 5px;
}

.container {
    display: flex;
    width: 100%;
    gap: 10px;
}

.container img {
    width: 70%;
    border-radius: 30px;
}

.container-img {
    width: 30%;
}

.container-img img {
    width: 100%;
    height: 50%;
}
.product {
    display: inline-flex;
    width: 100%;
    text-align: center;
}

.product-items {
    width: 25%;
}

.content * {
    margin: 5px 0;
}

.content .price {
    color: green;
}

.content p {
    color: gray;
    font-size: 12px;
}

